---
import Card from "./ui/Card.astro";
import Heading from "@/components/ui/Heading.astro";
import Button from "./ui/Button.astro";
import { type CollectionEntry } from "astro:content";
import { formatDate } from "@/lib/date/formatDate";

type Props = {
  post: CollectionEntry<"blog">;
};

const { post } = Astro.props;

const { title, slug, description, image, pubDate } = post.data;
---

<Card
  tag="article"
  imageSrc={image?.src}
  imageAlt={title}
  aria-label={title}
>
  <Heading tag="h3" size="h3">{title}</Heading>
  <p class="text-sm text-base-content/70">
    Published on {formatDate(pubDate)}
  </p>
  <p class="line-clamp-2">{description}</p>
  <div class="mt-auto w-full">
    <Button variant="primary" href={`/blog/${slug}`} class="w-full">
      Read Post
    </Button>
  </div>
</Card>
