---
import Button from "./ui/Button.astro";

const { project } = Astro.props;

const { image, title, description, href } = project.data;
---

<div
  class="bg-base-300 rounded-xl overflow-hidden flex flex-col w-full min-h-82 max-h-[460px]"
>
  <div class="h-48 overflow-hidden">
    <img src={image.src} alt={title} class="w-full h-full object-cover" />
  </div>
  <div class="flex-1 p-4 flex flex-col gap-2 bg-gradient-glow-top">
    <h2 class="text-xl text-base-content font-bold">{title}</h2>
    <p
      class="text-base md:text-lg lg:text-xl text-base-content/70 line-clamp-2"
    >
      {description}
    </p>
    <div class="mt-auto w-full">
      <Button variant="primary" href={href} target="_blank" class="w-full">
        View project
      </Button>
    </div>
  </div>
</div>
